
.vd-carousel
  elevation(2)
  z-index 9999

  .pagination
    padding .5em
    position: absolute
    bottom: 0
    left 0
    background-color: transparent !important

    width 100%
    margin: 0
    cursor: default
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  .arrow-navigation
    overflow hidden
    text-indent -999px
    position absolute
    top 50%
    transform: translateY(-50%)
    width 50px
    height 50px

    &:before, &:after
      position: absolute;
      left 25%
      width 3px
      height 50%
      background #fff
      content ''
      transition transform 0.3s, background-color 0.3s
      backface-visibility hidden

    &:before
      transform: translateX(-50%) rotate(30deg);
      transform-origin: 0 100%;

    &:after
      top: 50%
      transform translateX(-50%) rotate(-30deg)
      transform-origin 0 0

    &:hover
      &:before, &:after
        background #cc6055
      &:before
        transform translateX(-50%) rotate(45deg)
      &:after
        transform translateX(-50%) rotate(-45deg)


  .arrow-navigation__previous
    left .2em
  .arrow-navigation__next
    right .2em
    transform-origin 50% 25%
    transform rotate(180deg)

