.vd-navbar
  width 100%
  font-family Aharoni
  display flex
  flex-wrap wrap
  justify-content stretch
  align-items: center
  text-align: center
  background:  $theme.secondary
  color: #fff
  elevation(2)

  &__brand, &__content, &__menu, &__settings
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    flex-grow   1
    padding .5em
    font-family south-garden
    span
      font-family Tahoma
      display block
      font-size: .6em

  &__social
    width 100%
    flex-grow 0


  .link--page
    padding 1em
    display: inline-block
    //text-transform uppercase
    font-size 0.85em
    opacity .75
    transition opacity .3s

    &:before
      content ''
      position absolute
      bottom 0
      left 50%
      width 20%
      height 2px
      margin 0 0 0 -10%
      background: #fff
      transition transform 0.3s
      transform scale3d(0, 1, 1)
    &:hover
      &:before
        transform scale3d(1, 1, 1)


  .link--faded
    font-size 0.65em

  .link--active
    opacity 1
    &:before
      transform scale3d(1, 1, 1)

  .link--social
    opacity .75
    margin  0.75em
    font-size .8em
    &:hover
      opacity 1


