@import "_normalize.css"
@import "settings/_variables.styl"
@import "tools/_tools.styl"
@import "generic/_generic.styl"
@import "elements/_general.styl"
@import "components/_components.styl"
body
  font-family Tahoma
  color #2f2f2f

.fa-block
  display block
div
  box-sizing border-box